# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the commonly used libraries used by Data Scientists
- Evaluation of arithmetic expressions in Python
- List popular languages for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R Launguage
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scala Libraries

| Data Science Tools |
| ------------------ |
| Spark SQL |
| Prometheus |
| Apachi Superset |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5.

17.0

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author 
William Vinson